<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clicker V2</title>
</head>
<body>
    


    <div id="visible1">
        <p id="affichageCoin">Nombre de coins: 0</p>
        <button id="ajoutCoin">Ajouter un coin</button>
        <button id="buff1">Buff +10 (10 coins)</button>
        <button id="buff2">Buff +1/2s (100 coins)</button>
        <button id="buff3">Buff +1000 (1000 coins)</button>
        <button id="buff4">Buff +100/5s (10000 coins)</button>
        <button id="buffSecret1">Buff secret (+1000000000) (1 coin)</button>
        <button id="reset">Réinitialiser</button>
        <button id="deconnexionButton">Déconnexion</button>
    </div>





    <script src="../public/verifConnection.js"></script>
    <script src="../public/clicker.js"></script>
    <script src="../public/deconnect.js"></script>
</body>
</html>