<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/app.css" type="text/css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <title>Clicker V2</title>
  </head>
  <body>
    <div>
      <div>
        <p>10 bûches</p>
        <p id="affichage_Argent">Argent : 0 €</p>
        <button id="sold_Buche">Vendre des bûches</button>
      </div>

      <div>
        <p>Coupe l'arbre</p>
        <p id="affichage_Buche">Nombre de bûche : 0</p>
        <button id="get_Buche">Couper des arbres</button>
      </div>

      <div>
        <p>20 argents</p>
        <p id="affichage_Pierre">Nombre de pierre : 0</p>
        <button id="get_Pierre">Acheter pierre</button>
      </div>

      <div>
        <p>20 argents</p>
        <p id="affichage_Laine">Nombre de laine : 0</p>
        <button id="get_Laine">Acheter laine</button>
      </div>

      <div>
        <p>20 pierres, 20 laines, 20 bûches et 100 argents</p>
        <p id="affichage_Maison">Nombre de maison : 0</p>
        <button id="get_Maison">Construire maison</button>
      </div>

      <p id=""></p>

      <button id="reset">Réinitialiser</button>
      <button id="deconnexionButton">Déconnexion</button>
    </div>

    <script src="../public/verifConnection.js"></script>
    <script src="../public/clicker.js"></script>
    <script src="../public/deconnect.js"></script>
  </body>
</html>
