<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../public/style2.css" type="text/css" rel="stylesheet" />
</head>

<body>

    <div class="box-logo">
        <div class="box-image">
            <img src="../public/image/raphael.png">
            <img src="../public/image/leonardo.png">
            <img src="../public/image/michaelangelo.png">
            <img src="../public/image/donatello.png">
            
        </div>
        <div class="box-div">
            <div class="logo" id="level1" style=" visibility: hidden;">
                <p class="text-white" id="text-level1">1 / 8</p>
            </div>
            <div class="logo" id="level2" style=" visibility: hidden;">
                <p class="text-white" id="text-level2">1 / 8</p>
            </div>
            <div class="logo" id="level3" style=" visibility: hidden;">
                <p class="text-white" id="text-level3">1 / 8</p>
            </div>
            <div class="logo" id="level4" style=" visibility: hidden;">
                <p class="text-white" id="text-level4">1 / 8</p>
            </div>
        </div>
    </div>

   
    <div class="bordure"></div>

  <p class="text-white" id="whoLevel"></p>
    <div class="fond_cercle">
        <div class="progress_container">
            <div class="progress_bar" id="bar"></div>
        </div>
        <button class="panic-button" id="get_click">Panic</button>
    </div>

    <script src="../public/clickerV2.js"></script>
</body>

</html>